<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand">Blog</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">

						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<li class="nav-item float-right">
								<a class="nav-link" href="{{ path('post.index')}}">Posts</a>
							</li>
							<li class="nav-item float-right">
								<a class="nav-link" href="{{ path('post.create')}}">Add new post</a>
							</li>
							<li class="nav-item-right float-right">
								<a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
							</li>
						{% else %}
							<li class="nav-item float-right">
								<a class="nav-link" href="{{ path('app_login')}}">Login</a>
							</li>
							<li class="nav-item float-right">
								<a class="nav-link" href="{{ path('register')}}">Register</a>
							</li>
						{% endif %}
					</ul>

				</div>
			</nav>
			<div class="container"> {% block body %}{% endblock %}
				</div>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
