{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}

	{% for message in app.flashes('success')  %}
		<div class="alert alert-success">{{message}}</div>
	{% endfor %}
	<h2>
		List of all posts</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>Actions</td>
			</tr>

		</thead>
		<tbody>
			{% for post in posts  %}
				<tr>
					<td>{{post.id}}</td>
					<td>
						<a href="{{path('post.show', {id: post.id})}}">
							{{post.title}}
						</a>
					</td>
					<td>
						<a class="text-danger" href="{{path('post.delete', {id: post.id})}}">
							Delete
						</a>
						<a class="text-warning" href="{{path('post.edit', {id: post.id})}}">
							Edit
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
