{% extends "base.html.twig" %}

{% block body %}

	<h1>{{post.title}}</h1>
	<a class="text-danger" href="{{path('post.delete', {id: post.id})}}">
		Delete
	</a>
	<a class="text-warning" href="{{path('post.edit', {id: post.id})}}">
		Edit
	</a><hr>
	with id:
	{{post.id}}<hr>
	with desc:
	{{post.description}}<hr>
	with author:
	{{post.author.username}}<hr>
	created at:
	{{post.createdAt|date("m/d/Y")}}<hr>
	updated at:
	{{post.updatedAt|date("m/d/Y")}}<hr>


	<img src="{{'/uploads/' ~ post.image}}"></img>
<hr>
category:{{post.category}}{% endblock %}
